h1 {
    color: brown;
}
.email-label {
    color: aqua;
}
label.email-label {
    font-weight: bold;
}
.password-label {
    color: green;
    text-transform: uppercase;
}
label input {
    transform: scale(1.5);
}